* {
    box-sizing: border-box;
    margin: 0 auto;
}
._container__content {
    max-width: 1105px;
}

.text {
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    font-style: normal;
    font-weight: normal;
    width: 540px;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.btn {
    background: #34547A;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    height: 65px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    transition: background-color 0.3s ease 0s;
    width: 225px;
}
.btn:hover {
    background-color: #483d8b;
}

.first-screen {
    width: 100%;
    height: 700px;
    background: #EEEFF1;
}

.first-screen__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 79px;
}

.first-screen__logo {
    font-size: 48px;
    color: #34547A;
    font-family: Revalia;
    margin: 0;
}
.first-screen__nav{
    margin: 0;
}

.first-screen__nav__item {
    margin: 0 0 0 42px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: Roboto;
    font-weight: 500;
}

a:hover {
    color: #34547A;
}

.first-screen__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 162px 0 0 0;
}

.first-screen__body__description {
    display: flex;
    flex-direction: column;
}

.first-screen__body__description__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin: 0 0 30px 0;
}

.first-screen__body__description__text {
    margin: 0 0 60px 0;
}
.first-screen__body__description__button {
    margin: 1px;
}
.first-screen__body__description__button__text {
    font-family: Roboto;
    font-size: 16px;
    color: white;
    letter-spacing: 0.1em;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 366px;
}
.about-me__text {
    text-align: center;
    margin-top: 50px;
}

.numbers {
    width: 100%;
    height: 250px;
    background: #34547A;
}
.numbers__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
}

.numbers__item {
    display: flex;
    font-family: Roboto;
    color: #FFFFFF;
}
.numbers__item__img{
    padding-right: 20px;
}
.numbers__item__quantity {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.numbers__item__projects {
    font-size: 16px;
    line-height: 26px;
}

.skills{
    width: 100%;
    height: 653px;
}
.skills__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 653px;
}
.skills__avatar {
    width: 555px;
    height: 450px;
}
.skills__block {
    display: flex;
    flex-direction: column;
}
.skills__block__title{
    margin: 0 0 50px 0;
}

.skills__block__item__progress {
    position: relative;
    width: 350px;
    height: 4px;
    overflow: hidden;
    background: #34547A;
    margin: 0 0 20px 0;
}

.skills__block__item__stripe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 6px 100%;
}

.skills__block__item__grayback {
    position: relative;
    left: 75%;
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
}
.video{
    width: 100%;
    height: 1004px;
    background: #EEEFF1;

}
.video__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video__title{
    margin: 100px 0 50px 0;
}
.video__text{
    text-align: center;
    margin: 0 0 50px 0;
}
.video__image{
width: 1100px;
    position: relative;
    object-fit: cover;
}
.video__image__play{
    position: absolute;
    top: 45%;
    left: 45%;
}
.projects{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.projects__item {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    position: relative;
}
.projects__item:hover .projects__group{
    visibility: visible;
}
.projects__item:hover{
    opacity: .3;
}
.projects__group{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 40%;
}
.feedback{
    width: 100%;
    height: 762px;
    background: #EEEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.feedback__text{
    margin-top: 50px;
}
.feedback__wrapper{
width: 540px;
}
.feedback__form{
    margin-top: 65px;
}
.feedback__form__email{
    padding-left: 20px;
    width: 255px;
    height: 50px;
    margin-left: 20px;
    color: #5F5D5D;
    font-size: 14px;
    line-height: 23px;
}
.feedback__form__name{
    padding-left: 20px;
    width: 255px;
    height: 50px;
    color: #5F5D5D;
    font-size: 14px;
    line-height: 23px;
}
.feedback__form__message{
    text-align: start;
    padding: 20px;
    height: 175px;
    margin-top: 20px;
    color: #5F5D5D;
    font-size: 14px;
    line-height: 23px;
}
.feedback__form__button{
    margin-top: 50px;
}

.footer{
    width: 100%;
    height: 151px;
    background: #34547A;
}
.footer__body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 151px;
}
.footer__body__name{
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}
.footer__body__rights{
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
._container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px;
}
@media (max-width: 1910px) {
    .container {
        max-width: 1280px;
    }
    .projects{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 1270px) {
    .container {
        max-width: 960px;
    }
    .video__image{
        width: 900px;
    }
    .skills__avatar {
        width: 355px;
        height: 250px;
    }
    .numbers__wrapper{
        width: 100%;
        padding: 0 20px 0 20px;
    }
    .first-screen__logo {
        padding: 20px;
    }
    .first-screen__header {
        display: block;
        padding: 20px;
    }
    .first-screen__body {
        margin: 65px 0 0 0;
    }

}

@media (max-width: 950px){
    .container {
        max-width: 640px;
    }
    .video__image{
        width: 630px;
    }
    .projects__item {
        width: 315px;
        height: 315px;
    }
    .skills__wrapper{
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .numbers__wrapper{
        width: 100%;
    }
    .first-screen{
    height: 782px}

    .first-screen__body {
        flex-direction: column;
    }
    .first-screen__body__description {
        align-items: center;
    }
    .video{
        height: 700px;
    }
    .skills{
         height: 700px;
     }
    .skills__block{
        width: 350px;
    }
    .skills__block__title{
        margin: 0 0 50px 0;
        text-align: center;
    }

}

@media (max-width: 630px) {
    .container {
        max-width: 320px;
    }

    .first-screen {
        height: 900px
    }

    .first-screen__body__description__title {
        text-align: center;
    }

    .video__image {
        width: 320px;
    }

    .video__image__play {
        top: 40%;
        left: 45%;
        width: 40px;

    }

    .projects__item {
        width: 160px;
        height: 160px;
    }

    .text {
        width: 320px;
        padding: 0 25px 0 25px;
        text-align: center;
    }

    .video {
        height: 500px;
    }

    .video__title {
        margin: 30px 0 0 0;
    }

    .feedback__form__email {
        width: 320px;
        margin: 20px 0 0 0;
    }

    .feedback__form__name {
        width: 320px;
    }

    .feedback__form__message {
        width: 320px;
    }

    .footer__body {
        flex-direction: column;
    }

    .feedback__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .feedback__wrapper {
        width: 320px;

    }

    .feedback__form__message {
        width: 320px;
    }

    .video__text {
        margin-top: 34px;
    }

    .skills__block__item__progress {
        width: 300px;
    }

    .skills__avatar {
        width: 300px;
    }
}
@media (max-width: 320px) {
    .container {
        max-width: none;
        padding: 0 10px;
    }
}
@media only screen and (max-width: 1280px) {
    nav.first-screen__nav {
        display: none;
    }
}